---
import i18n from '../../data/i18n.json'

const titleEn = i18n.title.en
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{titleEn}</title>
  <link rel="alternate" hreflang="en" href="en/index.html" />
	<link rel="alternate" hreflang="x-default" href="index.html" />
  <link rel="alternate" hreflang="es" href="es/index.html" />
</head>
<body>
<script>
	var language = navigator.language || navigator.browserLanguage;
	if (language.startsWith('es-')) {
		window.location.replace('es/')
	} else {
		window.location.replace('en/')
	}
</script>
</body>
</html>
