---
const basePath = Astro.site.pathname
---

<footer class="border-t-courseGreen border-t-2 h-24 absolute w-full bottom-0">
  <img class="mx-auto md:max-w-lg" src={`${basePath}images/footer.png`}/>
</footer>