---
import i18n from '../../data/i18n.json'
import path from 'path'
import MenuNav from './MenuNav.tsx'
const basePath = Astro.site.pathname
const {lang, title, location} = Astro.props
const otherLang = lang === 'en' ? 'es' : 'en'
const otherLangLabel = lang === 'en' ? 'Español' : 'English'
let otherLangLoc = 0
for (const [i, value] of i18n.nav[lang].entries()) {
  if (value.link === location) {
    otherLangLoc = i
    break
  }
}
const otherLangPath = i18n.nav[otherLang][otherLangLoc].link

const items = i18n.nav[lang].map((item) => {
  return {
    link: path.join(basePath, '/', lang, item.link),
    label: item.label
  }
})
---
<header class="flex items-end relative min-w-full bg-[url('/images/header.jpg')] h-32 bg-[center_top_-27rem] md:px-20 px-10 pb-3">
  <div class="absolute inset-0 w-full h-full bg-white opacity-60"></div>
  <h1 class="font-serif md:text-4xl text-3xl text-courseBrown z-50">{title}</h1>
</header>
<MenuNav client:load items={items} langSwitch={{ "label": otherLangLabel, "link": path.join(basePath, '/', otherLang, otherLangPath)}} 
  location={path.join(basePath, '/', lang, location)}/>