---
import Base from '../../layouts/base.astro'
const basePath = Astro.site.pathname
---

<Base lang="es" location="/proyectos">
  
  <div class="max-w-[65ch] mx-auto">
    <h2 class="font-serif text-4xl text-[#4f3d29]">Clase de 2022</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-12">
      <a href="https://vacoarg.github.io/Grupo1/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2022-proj1.png')] bg-[center_top_-31rem]"></a>
      <a href="https://41ibi.github.io/code_copycats/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2022-proj2.png')] bg-[center_top_-85rem]"></a>
      <a href="https://vharvay.github.io/Busa-s-Enthusiasts/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2022-proj3.png')] bg-[center_top_-27rem]"></a>
      <a href="https://nicolazaro.github.io/scriptorium" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj4.png')] bg-[center_top_-27rem]"></a>
    </div>
    <h2 class="font-serif text-4xl text-[#4f3d29] mt-10">Clase de 2021</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-12">
      <a href="https://raffazizzi.gitlab.io/murderous-mujeres/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2021-proj1.png')] bg-[center_top_-31rem]"></a>
      <a href="https://raffazizzi.gitlab.io/helados-in-dh-group/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2021-proj2.png')] bg-[center_top_-85rem]"></a>
      <a href="https://raffazizzi.gitlab.io/ccr-project/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2021-proj3.png')] bg-[center_top_-27rem]"></a>
    </div>
    <h2 class="font-serif text-4xl text-[#4f3d29] mt-10">Clase de 2020</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-12">
      <a href="https://suarezg106.gitlab.io/team-candle/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj1.png')] bg-[center_top_-27rem]"></a>
      <a href="https://gabrielcalarco.gitlab.io/group-2-project/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj2.png')] bg-[center_top_-27rem]"></a>
      <a href="https://hopeson-ehizele.gitlab.io/mith301project/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj3.png')] bg-[center_top_-27rem]"></a>
      <a href="https://dmerr12.gitlab.io/digpub/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj4.png')] bg-[center_top_-27rem]"></a>
      <a href="https://dzatacoleman.gitlab.io/group-5/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj5.png')] bg-[center_top_-27rem]"></a>
      <a href="https://dxvidmr.gitlab.io/the-voyagers-project/" target="_blank" class="block w-full h-0 shadow-lg pb-full rounded-xl bg-[url('/images/2020-proj6.png')] bg-[center_top_-27rem]"></a>  
    </div>
  </div>
</Base>