---
import i18n from '../../data/i18n.json'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

const {lang, location} = Astro.props
const title = i18n.title[lang]

---
<html lang={lang}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <style global>
			@import "../styles/global.css";
	</style>
    </head>
    <body class="selection:bg-courseGreen selection:text-courseBeige min-h-screen relative bg-gray">
        <Header lang={lang} title={title} location={location}/>
        <main class="md:px-20 px-10 mt-5 pb-28">
          <slot/>        
        </main>
        <Footer/>
    </body>
</html>