---
import Base from './base.astro'
import i18n from '../../data/i18n.json'
const { content } = Astro.props
---

<Base lang={content.lang} location={content.path}>
    <article class="mx-auto md:flex md:gap-3">
        <div class="md:flex-1 hidden md:block"></div>
        <div class="md:flex-1 prose">
            <slot />
        </div>
        <div class="md:flex-1 prose max-w-[33%]">
            <div class="md:w-80 bg-courseBeige p-3">
                {content.instructors.map(i => {
                    return (
                        <div>
                            <strong>{i.name}</strong><br/>
                            {i.affiliation}<br/>
                            {i.email}
                        </div>
                    )
                })}
                <h3>{i18n.times[content.lang]}</h3>
                {content.times.map(t => {
                    return <div>{t.day} <br/> {t.time}</div>
                })}
                <h3>{i18n.prerequisites[content.lang]}</h3>
                <div>{content.prerequisites}</div>
                {content.testudo ?
                    <h3><a href={content.testudo}>On Testudo</a></h3>
                : ''
                }
            </div>
        </div>
    </article>
</Base>
