---
import Base from './base.astro'
const { content } = Astro.props
---

<Base lang={content.lang} location={content.path}>
    <h1 class="font-serif text-4xl text-[#4f3d29]">{content.title}</h1>
    <article class="prose mx-auto break-words">
       <slot />
    </article>
</Base>
